.row {
	background-color: grey
 }

.list-group-item {
	text-align: center;
	padding: 0.5em 0;
	margin: 0.5em 0;
	color: white;
	letter-spacing: 0.05em;
	background-color: gray;
	border: 1px solid black;
	transition:
		letter-spacing 0.5s,
		color 1.5s,
		background-color 1.5s;
		box-shadow: -3px 5px 5px 3px rgba(0,0,0,0.75);
}

.list-group-item-action:focus,
.list-group-item-action:hover {
	color: beige;
	background-color: black;
	letter-spacing: 0.1em;
}

.main {
 	padding-top: 90px;
	padding-bottom: 74px;
	border: 4px solid black;
	min-height: 100vh;
}

#data-list {
	border-left: 3px solid black;
	border-right: 3px solid black;
	padding: 0 1em;
}

.fixed-top,
.fixed-bottom {
	left: auto;
	right: auto;
	border-left: 4px solid black;
	border-right: 4px solid black;
}

.fixed-top {
	border-bottom: 3px dotted black;
}

.fixed-bottom {
	border-top: 3px dotted black;
}

.h5 {
	color: lightgray;
}

.h1,
.h5,
.footer > span
 {
	letter-spacing: 0.3em;
	color: lightgray;
	text-shadow:
		-1px -1px 2px #474753,
		1px -1px 2px #474753,
		-1px 3px 2px #474753,
		1px 1px 2px #474753;
}

.h5 {
	letter-spacing: 0.1em;
}

.container {
  padding-right: 15px !important;
	padding-left: 15px !important;
}

.modal-content {
	background-color: #bdbdbd;
}

button.close {
	text-decoration: underline;
}

.modal-img {
	max-width: 80%;
}

input.search {
	padding: 0.1em;
	border-radius: 0.4em;
	border: 3px solid lightgray;
}

@media only screen and (max-width: 576px) {
	span.header {
		display: none;
	}

	.main {
	 	padding-top: 59px;
		padding-bottom: 43px;
		}
}
